@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

.Mapdiv {
    margin: '5rem 10rem 0 10rem';
    padding-bottom: '10rem';
    max-width: 800px;
    font-family: 'Archivo', sans-serif;
    margin: 4rem auto 100px;
}
